
[Desktop Entry]
Encoding=UTF-8
Name=NetBeans IDE 6.9.1
Comment=The Smart Way to Code
Exec=java -jar "/home/cyberpython/programming/Java/netbeans projects/slang/dist/slang.jar"
Icon=/home/cyberpython/programming/Java/netbeans projects/slang/src/artwork/icons/svg/icon.svg
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0
Name[en_US]=Slang
Comment[en_US.utf8]=
GenericName[en_US.utf8]=Επεξεργαστής κώδικα για τη ΓΛΩΣΣΑ
